<div class="flex justify-between mb-5">
    <div>
        <h1 class="text-2xl text-test font-bold">{{ menu }}</h1>
        <p class="text-xs"><a class="text-gray-400" href="/">Home</a> / {{ menu }} {{ sub?"/ " + sub:"" }}</p>
    </div>
    <div class="text-brainCore font-bold">
        Hi, <span class="headerContentUsername">Fulan</span>, welcome back ✨
    </div>
</div>