<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A welcome page made with EdgeJS">
  <title>TraveLynk</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet" />
  <link href="/css/app.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body class="font-family-karla h-screen relative font-['Nunito']">
  <main class="bg-gray-800 h-screen text-white">
    <section class="relative w-full h-full">
      {{{ await $slots.main() }}}
      <footer class="absolute w-full bottom-0 bg-gray-800 pb-6">
        <div class="container mx-auto px-4">
          <hr class="mb-6 border-b-1 border-gray-600" />
          <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4">
              <div class="text-sm text-white font-semibold py-1 text-center md:text-left">
                Copyright © <span id="get-current-year"></span>
                <a href="#" class="text-white hover:text-gray-300 text-sm font-semibold py-1">TraveLynk Team</a>
              </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
              <ul class="flex flex-wrap list-none md:justify-end justify-center">
                <li>
                  <a href="#" class="text-white hover:text-gray-300 text-sm font-semibold block py-1 px-3">Creative
                    Tim</a>
                </li>
                <li>
                  <a href="#" class="text-white hover:text-gray-300 text-sm font-semibold block py-1 px-3">About Us</a>
                </li>
                <li>
                  <a href="#" class="text-white hover:text-gray-300 text-sm font-semibold block py-1 px-3">MIT
                    License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </main>
</body>

</html>