<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A welcome page made with EdgeJS">
  <title>TraveLynk</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet" />
  <link href="/css/app.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body class="font-family-karla h-screen relative font-['Nunito']">
  <main class="bg-gray-800 h-screen text-white">
    <section class="relative w-full h-full">
      {{{ await $slots.main() }}}
    </section>
  </main>
</body>

</html>