@layout.auth()
    @slot('main')
    <div class="flex flex-col justify-center items-center h-screen text-center">
        <h1 class="text-3xl font-bold py-5">Error {{ code }}</h1>
        <img src="/images/sorry.gif" alt="sorry" width="225px">
        <p class="text-lg">Sorry</p>
        <p class="text-lg">{{ message }}</p>

        <button class="btn btn-outline my-10" onclick="history.back()">Back</button>
    </div>
    @endslot
@end